

.container {
    box-sizing: border-box;
    border: 1px solid #8D4DC0;
    width: 100%;
    background-color: #f4f4f4;
    align-items: center;
    margin: 10px 0px 10px 00px;
    padding: 30px;
    display: flex;
    border: line;
}